---
import SmoothScrollEffect from "@/components/animations/SmoothScrollEffect.tsx";
import LinkButton from "@/components/buttons/LinkButton";
import Icon1 from "@/assets/icons/services/icon1.svg";
import Icon2 from "@/assets/icons/services/icon2.svg";
import Icon3 from "@/assets/icons/services/icon3.svg";
import Icon4 from "@/assets/icons/services/icon4.svg";
import Icon5 from "@/assets/icons/services/icon5.svg";
import "./index.scss";
---

<section class="services">
  <h2 class="services__title">Услуги</h2>

  <div class="services__content">
    <a href="/services/permanent-makeup" class="services__content__item">
      <div class="services__content__icon">
        <img src={Icon1.src} alt="Перманентный макияж" />
      </div>
      <span>Перманентный макияж</span>
    </a>

    <a href="/services/brows-and-lashes" class="services__content__item">
      <div class="services__content__icon">
        <img src={Icon2.src} alt="Брови и ресницы" />
      </div>
      <span>Брови и ресницы</span>
    </a>

    <a href="/services/makeup-and-piercing" class="services__content__item">
      <div class="services__content__icon">
        <img src={Icon3.src} alt="Макияж и пирсинг" />
      </div>
      <span>Макияж и пирсинг</span>
    </a>

    <a href="/services/hardware-cosmetology" class="services__content__item">
      <div class="services__content__icon">
        <img src={Icon4.src} alt="Аппаратная косметология" />
      </div>
      <span>Аппаратная косметология</span>
    </a>

    <a href="/services/injection-cosmetology" class="services__content__item">
      <div class="services__content__icon">
        <img src={Icon5.src} alt="Инъекционная косметология" />
      </div>
      <span>Инъекционная косметология</span>
    </a>
  </div>

  <LinkButton text="все услуги" href="/services" client:only />
</section>

<SmoothScrollEffect client:only />
