---
import SmoothScrollEffect from "../../components/animations/SmoothScrollEffect";
import "./index.scss";

const { servicesList } = Astro.props;
---

<section class="allservices">
  {servicesList.map((category: any) => (
    <article class="allservices__content">
      <h2 class="allservices__title">{category.category}</h2>
      <p class="allservices__description">{category.description}</p>

      <div class="allservices__services">
        {category.services.map((service: any) => (
          <div class="allservices__service">
            <div class="allservices__service-header">
              <h3 class="allservices__service-name">{service.name}</h3>   
            </div>
            <p class="allservices__service-description">{service.description}</p>
            <span class="allservices__service-price">{service.price} ₽</span>
          </div>
        ))}
      </div>
    </article>
  ))}
</section>

<SmoothScrollEffect client:only/>
