---
import "./Footer.scss";
import WhatsappIcon from "@/assets/icons/whatsapp.svg";
import TelegramIcon from "@/assets/icons/telegram.svg";
import InstagramIcon from "@/assets/icons/instagram.svg";
import PhoneIcon from "@/assets/icons/phone.svg";
import LogoIcon from "@/assets/icons/seasors-icon.svg";
import MasterPhoto from "@/assets/photos/footer/footer-master.png";
---

<footer class="footer">
  <section class="footer__content">
    <div class="footer__left">
      <h3 class="footer__slogan">
        место, где рождается<br />красота и гармония.
      </h3>
      <div class="footer__contacts">
        <ul class="footer__icons">
          <li><img src={WhatsappIcon.src} alt="WhatsApp" /></li>
          <li><img src={TelegramIcon.src} alt="Telegram" /></li>
          <li><img src={InstagramIcon.src} alt="Instagram" /></li>
          <li><img src={PhoneIcon.src} alt="Телефон" /></li>
        </ul>
        <p class="footer__phone">8-888-888-88-88</p>
      </div>
    </div>

    <div class="footer__photo">
      <img src={MasterPhoto.src} alt="Мастер салона" />
    </div>
  </section>

  <p class="footer__copyright">
    ©2025-mariesevastianova.ru все права защищены
  </p>
</footer>
