---
import LenisInit from '../components/lenis/LenisInit';
import '../styles/global.scss';
import { ClientRouter } from 'astro:transitions';
import AnimationManager from './AnimationManager';

const {
	title = 'Салон красоты Марины Севостьяновой',
	description = 'Добро пожаловать в Maria Salon — сеть современных салонов красоты в Москве! Мы работаем только с премиальной косметикой и индивидуальным подходом к каждому клиенту. Посетите наши салоны и откройте для себя мир стиля, роскоши и гармонии. Ваше преображение начинается здесь!',
	keywords = 'Салон красоты, перманентный макияж и тату, уход за бровями и ресницами, аппаратная косметология, омоложение, лифтинг в Москве, Россия',
	locale = 'ru',
} = Astro.props;
---

<html lang={locale}>
	<head>
		<ClientRouter />
		<!-- Анимация переходов -->
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>{title}</title>
		<meta name="description" content={description} />
		<meta name="keywords" content={keywords} />
		<!-- Open Graph мета-теги для соцсетей -->
		<meta property="og:title" content={title} />
		<meta property="og:description" content={description} />
		<meta property="og:locale" content={locale === 'ru' ? 'ru_RU' : 'en_US'} />
		<meta property="og:image" content="/seo/og-image.png" />
		<meta property="og:image:width" content="1200" />
		<meta property="og:image:height" content="630" />
		<!-- Можно добавить og:image, если есть общий изображение-превью -->
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
	</head>
	<body>
		<main transition:animate="slide">
			<LenisInit client:only />
			<slot />
			<AnimationManager client:only="react" />
		</main>
	</body>
</html>
